/* .content main {
  margin-left: min(8%, 120px) !important;
  margin-right: min(8%, 120px) !important;
} */

/* :root {
  --content-max-width: 600px !important;
}

.menu-bar {
  max-width: 845px !important;
}

.content {
  max-width: 800px !important;
  background-color: var(--bg) !important;

}

/* .page {
  background-color: var(--sidebar-bg) !important;
} */

/* .nav-chapters {
  background-color: var(--bg) !important;
} */ */
