.pdf {
  --bg: #ffffff;
  --fg: #4c4f69;
  --sidebar-bg: #e6e9ef;
  --sidebar-fg: #4c4f69;
  --sidebar-non-existant: #9ca0b0;
  --sidebar-active: #1e66f5;
  --sidebar-spacer: #9ca0b0;
  --scrollbar: #9ca0b0;
  --icons: #9ca0b0;
  --icons-hover: #8c8fa1;
  --links: #1e66f5;
  --inline-code-color: #fe640b;
  --theme-popup-bg: #e6e9ef;
  --theme-popup-border: #9ca0b0;
  --theme-hover: #9ca0b0;
  --quote-bg: #e6e9ef;
  --quote-border: #dce0e8;
  --table-border-color: #dce0e8;
  --table-header-bg: #e6e9ef;
  --table-alternate-bg: #e6e9ef;
  --searchbar-border-color: #dce0e8;
  --searchbar-bg: #e6e9ef;
  --searchbar-fg: #4c4f69;
  --searchbar-shadow-color: #dce0e8;
  --searchresults-header-fg: #4c4f69;
  --searchresults-border-color: #dce0e8;
  --searchresults-li-bg: #eff1f5;
  --search-mark-bg: #fe640b;
  --warning-border: #fe640b;
  --mobile-nav-bg: rgb(226, 226, 226);
  --mobile-nav-bg-active: rgb(218, 218, 218);
  --mobile-nav-border: rgba(0, 0, 0, 0.1);
  --mobile-nav-shadow: rgba(255, 255, 255, 0.5);
  --num-color: #fe640b;
}

.pdf pdf {
  display: block !important;
}

/* Code Style */
.pdf :is(.admonition):is(.admonish-hint, .admonish-important, .admonish-tip) {
  border-color: #df8e1d;
}
.pdf
  :is(.admonish-hint, .admonish-important, .admonish-tip)
  > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(223, 142, 29, 0.2);
}
.pdf
  :is(.admonish-hint, .admonish-important, .admonish-tip)
  > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #df8e1d;
}
.pdf
  :is(.admonition):is(.admonish-abstract, .admonish-summary, .admonish-tldr) {
  border-color: #dd7878;
}
.pdf
  :is(.admonish-abstract, .admonish-summary, .admonish-tldr)
  > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(221, 120, 120, 0.2);
}
.pdf
  :is(.admonish-abstract, .admonish-summary, .admonish-tldr)
  > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #dd7878;
}
.pdf :is(.admonition):is(.admonish-example) {
  border-color: #8839ef;
}
.pdf :is(.admonish-example) > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(136, 57, 239, 0.2);
}
.pdf
  :is(.admonish-example)
  > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #8839ef;
}
.pdf :is(.admonition):is(.admonish-info, .admonish-todo) {
  border-color: #04a5e5;
}
.pdf
  :is(.admonish-info, .admonish-todo)
  > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(4, 165, 229, 0.2);
}
.pdf
  :is(.admonish-info, .admonish-todo)
  > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #04a5e5;
}
.pdf :is(.admonition):is(.admonish-check, .admonish-done, .admonish-success) {
  border-color: #40a02b;
}
.pdf
  :is(.admonish-check, .admonish-done, .admonish-success)
  > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(64, 160, 43, 0.2);
}
.pdf
  :is(.admonish-check, .admonish-done, .admonish-success)
  > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #40a02b;
}
.pdf :is(.admonition):is(.admonish-note) {
  border-color: #1e66f5;
}
.pdf :is(.admonish-note) > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(30, 102, 245, 0.2);
}
.pdf
  :is(.admonish-note)
  > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #1e66f5;
}
.pdf
  :is(.admonition):is(
    .admonish-attention,
    .admonish-caution,
    .admonish-warning
  ) {
  border-color: #fe640b;
}
.pdf
  :is(.admonish-attention, .admonish-caution, .admonish-warning)
  > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(254, 100, 11, 0.2);
}
.pdf
  :is(.admonish-attention, .admonish-caution, .admonish-warning)
  > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #fe640b;
}
.pdf :is(.admonition):is(.admonish-faq, .admonish-help, .admonish-question) {
  border-color: #179299;
}
.pdf
  :is(.admonish-faq, .admonish-help, .admonish-question)
  > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(23, 146, 153, 0.2);
}
.pdf
  :is(.admonish-faq, .admonish-help, .admonish-question)
  > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #179299;
}
.pdf
  :is(.admonition):is(
    .admonish-bug,
    .admonish-danger,
    .admonish-error,
    .admonish-fail,
    .admonish-failure,
    .admonish-missing
  ) {
  border-color: #d20f39;
}
.pdf
  :is(
    .admonish-bug,
    .admonish-danger,
    .admonish-error,
    .admonish-fail,
    .admonish-failure,
    .admonish-missing
  )
  > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(210, 15, 57, 0.2);
}
.pdf
  :is(
    .admonish-bug,
    .admonish-danger,
    .admonish-error,
    .admonish-fail,
    .admonish-failure,
    .admonish-missing
  )
  > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #d20f39;
}
.pdf :is(.admonition):is(.admonish-cite, .admonish-quote) {
  border-color: #ea76cb;
}
.pdf
  :is(.admonish-cite, .admonish-quote)
  > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(234, 118, 203, 0.2);
}
.pdf
  :is(.admonish-cite, .admonish-quote)
  > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #ea76cb;
}

.pdf.hljs {
  color: #4c4f69;
  background: #ffffff;
}
.pdf .hljs-keyword {
  color: #8839ef;
}
.pdf .hljs-built_in {
  color: #d20f39;
}
.pdf .hljs-type {
  color: #df8e1d;
}
.pdf .hljs-literal {
  color: #fe640b;
}
.pdf .hljs-number {
  color: #fe640b;
}
.pdf .hljs-operator {
  color: #179299;
}
.pdf .hljs-punctuation {
  color: #5c5f77;
}
.pdf .hljs-property {
  color: #179299;
}
.pdf .hljs-regexp {
  color: #ea76cb;
}
.pdf .hljs-string {
  color: #40a02b;
}
.pdf .hljs-char.escape_ {
  color: #40a02b;
}
.pdf .hljs-subst {
  color: #6c6f85;
}
.pdf .hljs-symbol {
  color: #dd7878;
}
.pdf .hljs-variable {
  color: #8839ef;
}
.pdf .hljs-variable.language_ {
  color: #8839ef;
}
.pdf .hljs-variable.constant_ {
  color: #fe640b;
}
.pdf .hljs-title {
  color: #1e66f5;
}
.pdf .hljs-title.class_ {
  color: #df8e1d;
}
.pdf .hljs-title.function_ {
  color: #1e66f5;
}
.pdf .hljs-params {
  color: #4c4f69;
}
.pdf .hljs-comment {
  color: #acb0be;
}
.pdf .hljs-doctag {
  color: #d20f39;
}
.pdf .hljs-meta {
  color: #fe640b;
}
.pdf .hljs-section {
  color: #1e66f5;
}
.pdf .hljs-tag {
  color: #6c6f85;
}
.pdf .hljs-name {
  color: #8839ef;
}
.pdf .hljs-attr {
  color: #1e66f5;
}
.pdf .hljs-attribute {
  color: #40a02b;
}
.pdf .hljs-bullet {
  color: #179299;
}
.pdf .hljs-code {
  color: #40a02b;
}
.pdf .hljs-emphasis {
  color: #d20f39;
  font-style: italic;
}
.pdf .hljs-strong {
  color: #d20f39;
  font-weight: bold;
}
.pdf .hljs-formula {
  color: #179299;
}
.pdf .hljs-link {
  color: #209fb5;
  font-style: italic;
}
.pdf .hljs-quote {
  color: #40a02b;
  font-style: italic;
}
.pdf .hljs-selector-tag {
  color: #df8e1d;
}
.pdf .hljs-selector-id {
  color: #1e66f5;
}
.pdf .hljs-selector-class {
  color: #179299;
}
.pdf .hljs-selector-attr {
  color: #8839ef;
}
.pdf .hljs-selector-pseudo {
  color: #179299;
}
.pdf .hljs-template-tag {
  color: #dd7878;
}
.pdf .hljs-template-variable {
  color: #dd7878;
}
.pdf .hljs-addition {
  color: #40a02b;
  background: rgba(64, 160, 43, 0.15);
}
.pdf .hljs-deletion {
  color: #d20f39;
  background: rgba(210, 15, 57, 0.15);
}
.pdf code {
  color: #4c4f69;
  background: #e6e9ef;
}
.pdf blockquote blockquote {
  border-top: 0.1em solid #acb0be;
  border-bottom: 0.1em solid #acb0be;
}
.pdf hr {
  color: #acb0be;
}
.pdf del {
  color: #7c7f93;
}
.pdf .ace_gutter {
  color: #8c8fa1;
  background: #e6e9ef;
}
.pdf .ace_gutter-active-line.ace_gutter-cell {
  color: #ea76cb;
  background: #e6e9ef;
}