@media only screen and (max-width: 5000px) {
  #mdbook-sidebar-toggle-anchor:checked ~ .page-wrapper .nav-wide-wrapper {
    display: none;
  }
  #mdbook-sidebar-toggle-anchor:checked ~ .page-wrapper .nav-wrapper {
    display: grid;
  }
}

.nav-wrapper {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.nav-wrapper .previous {
  grid-column: 1;
  justify-self: start;
}

.nav-wrapper .next {
  grid-column: 2;
  justify-self: end;
}

.mobile-nav-chapters {
  /* Flex is a better way to control the centered layout of the icon and text
   * given this is a button a not wrapping text */
  display: flex;
  align-items: center;
  gap: 2px;
  padding-bottom: 3px;
  /* Force the line-height to come in at 32px -> 32/40 = 0.8 */
  line-height: 0.8em;
  /* Disable the built in 90px width */
  width: auto;
  background-color: var(--mobile-nav-bg);
  border: 1px solid var(--mobile-nav-border);
  box-shadow: 0px 1px 2px -1px var(--mobile-nav-shadow) inset,
    0px -2px 0px 0px var(--mobile-nav-border) inset;
  text-decoration: none !important;
}

.mobile-nav-chapters.previous {
  padding-inline: 5px 10px;
}

.mobile-nav-chapters.next {
  padding-inline: 10px 5px;
}

.mobile-nav-chapters .fa-svg {
  display: block;
  /* Force the icons to come in at 24px -> 24/40 = 0.6 */
  font-size: 0.45em;
  width: 18px;
  height: 18px;
  margin-top: 1px;
}

.mobile-nav-chapters .fa-svg svg {
  display: block;
}

.mobile-nav-chapters:hover {
  background-color: var(--mobile-nav-bg-active);
}

.sidebar {
  font-size: 90% !important;
}

.content {
  background-color: var(--bg) !important;
  min-height: 100vh;
  max-width: var(--content-max-width) !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 5px !important;
}

.content main {
  padding-left: 3.236em;
  padding-right: 3.236em;
}

.page {
  background-color: var(--content-page-bg) !important;
  padding-left: 0px;
}

@media only screen and (max-width: 500px) {
  .content main {
    padding-left: 1%;
    padding-right: 1%;
  }
  
  .page {
    background-color: var(--content-page-bg) !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.menu-bar {
  margin-left: 0px !important;
  max-width: var(--content-max-width) !important;
  padding: 5px !important;
}

html {
  background-color: var(--content-page-bg);
}

body {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

h2 {
  margin-block-start: 1.5em;
}

h3 {
  margin-block-start: 0.5em;
}

img {
  display: flex;
  margin: 0 auto;
  vertical-align: middle;
}

ol.section {
  padding-left: 0 !important;
}

ol.section ol {
  padding-left: 1em !important;
}

.section .chapter-item > .chapter-link-wrapper {
  font-size: 90%;
}

.chapter-item.affix > .chapter-link-wrapper {
  font-size: 100% !important;
  text-transform: uppercase;
  padding-inline-start: 0 !important;
}

.chapter-item.affix > .chapter-link-wrapper > a:first-child {
  display: flex;
  margin: 0 auto;
}

.sidebar-scrollbox {
  padding: 0px !important;
}

.chapter li.chapter-item {
  line-height: 1.5em;
  margin-block-start: 0px;
}

.chapter li.chapter-item > .chapter-link-wrapper {
  padding-top: 0.4045em;
  padding-bottom: 0.4045em;
  padding-inline-start: 1.618em;
  line-height: 1.5em;
}

.chapter li.chapter-item.affix > .chapter-link-wrapper {
  padding-inline-start: 0 !important;
}

.section {
  list-style: none outside none;
  padding-inline-start: 1.5em;
  line-height: 1.9em;
}

.chapter li a.active {
  font-weight: bold;
  line-height: 18px;
}
.chapter .chapter-item.expanded > .chapter-link-wrapper {
  font-weight: bold;
  font-size: 14.4px;
}

.section .chapter-item.expanded > .chapter-link-wrapper > a {
  font-weight: bold;
  font-size: 14.4px;
}

.searchbar-outer, .searchresults-outer {
  margin-left : min(5%, 3em);
  margin-right : min(5%, 3em);
}

.nav-wide-wrapper {
  max-width: var(--content-max-width);
}

.nav-wide-wrapper .previous, .nav-wide-wrapper .next {
  margin-top: 34px;
}

.previous {
  margin-left: 10px;
}

.next {
  margin-right: 10px;
}

.nav-chapters {
  display: none;
}

.hljs {
  background-color: var(--code-bg-color);
  color: var(--code-color);
}

.nav-chapters-text {
  display: block;
  font-size: 0.5em;
  color: var(--icons) !important;
}

ol.chapter {
  margin-top: 0px;
}

#mdbook-content table td {
  max-width: 250px;
}

#mdbook-content table th:first-child {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

num {
  color: var(--num-color);
  font-weight: bold;
}

pdf {
  display: none;
}

/* .table-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
} */
